.table-wrapper {
  max-width: 100%;
  overflow-x: auto;

  thead {
    background-color: transparent;

    tr th {
      z-index: 0;
    }

    .material-icons {
      font-family: 'Material Icons', sans-serif !important;
    }

    * {
      color: #575962;
      font-weight: 700;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
    }
  }

  .table-content {
    & > div {
      box-shadow: none;

      & > div {
        box-shadow: none;
      }

      table {
        border: 1px solid #f4f5f8;
      }
    }
  }

  .MTableToolbar-searchField-33 {
    & > div > div:nth-last-child(1) {
      display: none;
    }
  }

  table > tbody {

    & > tr:nth-child(1) {

      & > td {
        span {
          //display: none;

          &.m-badge {
            display: inline-block !important;
          }
        }
      }
    }

    .labels span {
      display: inline-block !important;
      white-space: pre;
      margin-right: 5px;
      padding-top: 2px;
      margin-bottom: 5px;
      padding-bottom: 2px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }

    tr td {
      font-size: 15px;
    }
  }

  .footer-table-wrapper {
    width: 100%;
    display: table;
  }

  table.footer-table {
    width: 100%;

    & > tbody {

      & > tr:nth-child(1) {

        & > td {
          span {
            display: inherit;
          }
        }

        & > td:nth-child(2) {
          float: left !important;
        }
      }


      tr > td > div > div {
        display: flex;
      }

    }
  }

  thead th, tbody td {
    padding: 10px;
  }

  thead th {
    border-bottom: 2px solid #f4f5f8;
  }

  tfoot tr td * {
    font-size: 15px;
  }

  .actions {
    .btn, i {
      margin-right: 10px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }

  .header-icon {
    img {
      max-width: 30px;
    }
  }

  .rank-wrapper {
    .up {
      color: $colorGreen;
    }

    .down {
      color: $colorRed;
    }

    i {
      font-size: 16px;
      margin-right: 5px;
    }
  }

  .toolbar-wrapper .custom-filters {
    width: 100%;
    display: inline-block;

    .form-group {
      display: inline-block;
      width: inherit;
      max-width: 160px;
      float: right;
      margin-left: 20px;
    }
  }
}

.table {
  border: solid $colorBorder 1px;

  thead {
    background-color: $colorBrand;
    color: $colorWhite;
  }

  tfoot {
    background-color: lighten($colorBrand, 35);
    margin-top: 1px;
    font-weight: 700;
  }
}

table {
  i {
    cursor: pointer;

    &:hover {
      color: $colorBrand;
    }
  }
}

.td-actions {
  i {
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: $colorBrand;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.table-wrapper .dark-table thead * {
  color: $colorWhite;
}


.MuiMenuItem-gutters {
  padding: 0 !important;
}

.MuiFormControlLabel-root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
